* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header button {
    padding: 0 30px;
}

main {
    background-color: lightgray;
    padding: 50px 0;
}

#square_container {
    width: 800px;
    height: 800px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid #fff;
}

footer {
    padding: 30px;
}