* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header button {
    padding: 0 30px;
}

#container {
    width: 800px;
    height: 800px;
    margin: 100px auto 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

footer {
    padding: 30px;
}

.square {
    width: calc(100% / 8);
    height: calc(100% / 8);
    border: 2px solid #fff;
}